<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470254671764-0b1lsl3j0o1ostet6vnstgvrgfdik20p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470254671764-0b1lsl3j0o1ostet6vnstgvrgfdik20p</string>
	<key>API_KEY</key>
	<string>AIzaSyD2juISolfgaYtY9vcOT89EKcH7_d5jpAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>470254671764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oudomsup.ocwa</string>
	<key>PROJECT_ID</key>
	<string>ocwa-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ocwa-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470254671764:ios:f34187bbe9c2db123fa181</string>
	<key>DATABASE_URL</key>
	<string>https://ocwa-app.firebaseio.com</string>
</dict>
</plist>